#media-upload #playlist-items {
  border-bottom: none;
  border-style: solid solid none;
  border-width: 1px 1px initial;
}

#media-upload .playlist-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-height: 36px;
  width: 100%;
}

#playlist-items, .imgedit-group {
  border-color: #DFDFDF;
}

.playlist-item {
  border-color: #DFDFDF;
}

.playlist-item .pinkynail {
  float: left;
  margin: 2px;
  max-height: 32px;
  max-width: 40px;
}

#media-upload .ui-sortable .playlist-item {
  cursor: move;
}

.sorthelper {
	height: 37px;
	width: 300px;
	display: block;
}